extends layout 
 
block content 
  h1= title 
 
  form(id='DogForm', action="/resource/dogs", method="POST") 
    div.form-group-create 
        label.dogcrAttr(for='Dog_age') Dog Age 
        input#Dog_age(type='number', name='Dog_age') 
    div.form-group-create 
        label.dogcrAttr(for='Dog_breed') Dog Breed 
        input#Dog_breed(type='text', name='Dog_breed') 
    div.form-group-create 
        label.dogcrAttr(for='Dog_speciality') Dog Speciality 
        input#Dog_speciality(type='text', name='Dog_speciality') 
    button(class="btn btn-primary m-2" type="submit") Add Dog
 
  script. 
    document.forms['DogForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 